<div class="container analysis-tool" ng-controller="mainCtrl">
    <div class="jumbotron">
        <div class="row">
            <div class="col-lg-6 col-sm-12 col-md-6">
                <center><img ng-src="{{visionUrl}}" class="img-responsive"></center>
            </div>
            <div class="col-lg-6 col-sm-12 col-md-6 data-container">
                <table class="table">
                    <thead>
                        <tr>
                            <td class="col-lg-3">
                                <b>Feature</b>
                            </td>
                            <td>
                                <b>Value</b>
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="(key, value) in data">
                            <td>{{key}}</td>
                            <td>{{value}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div id="todo-form" class="row">
            <div class="col-sm-8 col-sm-offset-2 text-center">
                <form id="uploadForm">
                    <input type="file" onchange="angular.element(this).scope().upload(this.files[0])">
                </form>
            </div>
        </div>
    </div>
</div>
